/* Estilos do menu */
header {
	background-color: #3b753d;
	color: #fff;
	padding: 10px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

nav ul li a:hover {
	color: #ccc;
}

/* Estilos do rodapé */
footer {
	background-color: #eee;
	padding: 10px;
	text-align: center;
}
